.blogTitle {
  background-color: #000;
  position: absolute;
  left: 0;
  top: 63px;
  width: 100vw;
  padding: 2rem 5rem 0rem 5rem;
  h1, p {
    color: #fff;
  }
}

.blogBody {
  margin-top: 15rem;
}