.header {
  padding: 1rem 1rem 0rem;
  display: flex;
  flex-direction: row;
  background-color: rgb(22, 23, 67);
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

.title {
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
}

.navList {
  list-style-type: none;
  display: flex;
  margin-right: 0px;
  margin-left: auto;
  li {
    position: relative;
    top: 1rem;
  }
}

.navItem {
  color: #fff;
  margin-right: 1.3rem;
  font-size: .9rem;
  text-decoration: none;
}

.navItem:hover {
  color: #aaa;
}

.activeNavItem {
  color: #777;
}